/*
	Helper classes
*/
.hide {
  display:none !important;
}
/*
	Colors override
*/
@import url (https://fonts.googleapis.com/css?family=Oswald:400,700);
body {
	padding: 0;
}
a,
a:active {
 	color: #c2765a;
}
h4.name {
	background: #c2765a;
}
nav a:hover,
nav a:active {
	color: #c2765a;
}
nav > ul > li > a {
	color: #c2765a;
}
nav > h2 > a {
	color: #c2765a !important;
}
.type-signature {
	color: #ffecc2
}
.signature {
	color: #ffdc83;
}
span.param-type, .params td .param-type, .param-type dd {
	color: #925944;
}

#vvc-sidenav {
	padding-left: 20px;
}
.vvc-nav-logo {
	width: 60%;
	margin-top: 25px;
}
.vvc-header-logo{
	width: 100%;
	min-width: 85px;
	max-width: 100px;
}
.vvc-accordion-trigger:hover {
	cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 680px) {
	#vvc-header-bar {
		display: none;
	}
	#nav-header {
		display: block;
	}
}

#vvc-header-bar {
	position: fixed;
	top: 0;
	width: 100%;
	background: #ddd;
	opacity: 0.9;
	z-index: 99999;
}
#go-to-top {
	display: inline-block;
	padding: 6px 10px;
	margin-right: 25px;
	color: #c2765a;
	font-size: 20px;
	transition: 0.5s all;
}
#go-to-top:hover,
#go-to-top:hover i {
	cursor: pointer;
	color: white;
}

.margin-top-50 {
	margin-top: 50px;
}

.header-float-right {
	float: right;
	width: 40%;
	text-align: right;
}
.header-float-left {
	float: left;
	width: 40%;
	margin-left: 20px;
	margin-top: 5px;
}
.clear {
	clear: both;
}