/*
	Helper classes
*/
.hide {
  display: none !important;
}
/*
	Colors override
*/
@import url (https://fonts.googleapis.com/css?family=Oswald:400,700);
body {
	padding: 0;
}
a,
a:active {
 	color: #c2765a;
}
h4.name {
	background: #c2765a;
}
nav a:hover,
nav a:active {
	color: #c2765a;
}
nav > ul > li > a {
	color: #c2765a;
}
nav > h2 > a {
	color: #c2765a !important;
}
.type-signature {
	color: #ffecc2
}
.signature {
	color: #ffdc83;
}
span.param-type, .params td .param-type, .param-type dd {
	color: #925944;
}
#vvc-sidenav {
	padding-left: 20px;
}
.vvc-nav-logo {
	width: 60%;
	margin-top: 25px;
}
#main-content {
	padding-right: 20px;
}
#nav-header {
	margin-bottom: 50px;
}
#nav-subheader {
	margin: 0;
	margin-top: -5px;
}